.git
.coveralls.yml
.dockerignore
.github
.gitignore
.sass-cache
.travis.yml
composer.lock
data
phpunit.xml.dist
plugins
public
tests
var
vendor
yarn.lock
docker
!docker/build/test/*.sh
!docker/build/dev/*.sh
!docker/build/dev/*.service
!docker/build/prod/*.service
!docker/build/prod/nextdom

